@tailwind base;
@tailwind components;
@tailwind utilities;
.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .statss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .total-times {
    background-color: #ECF4FF;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .total-times h3,
  .app-usage h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .total-times h2 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .total-times p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #2f6f31;
  }